.home {
    .info-section {
        padding: 54px;
        width: 35%;

    }
    .content-area {
        background: $color3;
        margin-left: 35%;
        width: 65%;
        background: white;
        height: 100%;
        .img-container {
            display: inline-block;
            width: 30%;
            position: relative;
            height: 100%;
            .user-img {
                position: absolute;
                top: 120px;
                // left: -240px;
                left: -65%;
                width: 400px;
                height: 520px;
                background: url("/img/headshot-medium.jpg") no-repeat center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                -moz-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
            }
        }

        .profile-section {
            vertical-align: top;
            display: inline-block;
            padding: 20% 0 0 0;
            max-width: 500px;
            .profile {
                h1 {
                    text-transform: uppercase;
                    font-size: 2.3rem;
                    font-weight: 600;
                    line-height: 1.2;
                    margin: 0 0 1rem;
                    span {
                        color: $color1;
                    }
                }
                h5 {
                    font-size: 1.1rem;
                    margin: 0 0 2rem;
                    font-weight: 500;
                }
                p {
                    color: $color4;
                    font-weight: 300;
                    line-height: 1.4;
                    margin: 0 0 2rem 0;
                }
            }
        }
    }
    .footer-mobile {
        display: none;
        .footer-mobile-container {
            width:90%;
            margin:auto;
            padding: 10px 0;
            .footer-block {
                text-align: center;
                margin:2px 0;
                p{
                    font-size: 0.8rem;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: #fefefe;
                    a {
                        text-decoration: none;
                        color: $color3;
                    }
                }
                .icon-section {
                    a {
                        color: #ffffff;
                        text-decoration: none;
                        font-size: 1.2rem;
                        padding: 0 12px; 
                        &:first-child {
                            padding: 0 12px 0 0;
                        }
                        &:last-child {
                            padding: 0 0 0 12px;
                        }
                    }
                }
            }
        }
    }
}

// Mobile
@media (max-width: 767px) {
    .home {
        height: 97%;
        .menu-icon {
            position:absolute;
            top: -3px;
            right: 20px;
            .fa-solid {
                color: #ffffff;
            }
        }
        .info-section {
            padding: 10px 20px;
            position: static;
            .logo {
                height: 50px;
                width: 70px;
                font-size: 1rem;
            }
            .info-box {
                bottom: 0;
                display:none;
                h4 {
                    font-size:1em;
                    margin: 0.3rem 0;
                }
                p {
                    margin: 0.2rem 0 1rem;
                }
            }
        }
        .content-area {
            margin-left: 0;
            width: 100%;
            height: 90%;
            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .img-container {
                padding: 56px 20px 0;
                .user-img {
                    position: static;
                    width: 100%;
                    height:60%;
                }
            }
            .profile-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;

                .primary-btn {
                    margin-bottom: 20px;
                    min-width: 165px;
                    padding: 15px 0;
                }
                .ghost-btn {
                    margin-bottom: 20px;
                    min-width: 165px;
                    padding: 12px 0;
                }
                p {
                    font-size:0.9em;
                }
            }
        }
        .footer-mobile {
            display: block;
        }
    }
}

// Mobile Landscape
@media screen and (orientation: landscape) { 

    .info-section {
        .info-box {
            bottom: 10px;
        }
    }
}


// Tablet
@media (min-width: 768px) and (max-width: 991px) {
    .home {
        .content-area {
            overflow-y: scroll;
            .img-container {
                padding: 56px 20px 0;
                display: block;
                width:90%;
                height: auto;
                top: 50px;
                margin: auto;

                .user-img {
                    position: static;
                    width: 100%;
                    -webkit-box-shadow: 3px 3px 74px 1px rgba(0,0,0,0.34);
                    -moz-box-shadow: 3px 3px 74px 1px rgba(0,0,0,0.34);
                    box-shadow: 3px 3px 74px 1px rgba(0,0,0,0.34);
                }
            }
            .profile-section {
                width: 90%;
                float: right;
                padding: 15% 10px 0;
            }
        }
        .info-section {
            padding: 25px;
        }
    }
}

// Laptop
@media (min-width: 992px) and (max-width: 1199px) {
    .home {
        .content-area {
            margin-left: 32%;
            width:68%;
            .img-container {
                padding: 56px 20px 0;
                float: left;

                .user-img {
                    position: static;
                    width: 100%;
                }
            }

            .profile-section {
                width: 70%;
                float: left;
                padding: 20% 20px 0;
                max-width: 800px;

                .primary-btn, .ghost-btn {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// Extra Large
@media (min-width: 1200px) {

    .home {
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: left;

                .user-img {
                    // position: static;
                    // width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;
                // padding: 20% 20px 0;
            }
        }
    }
}