.home {
    .info-section {
        padding: 54px;
        width: 35%;

    }
    .content-area {
        background: $color3;
        margin-left: 35%;
        width: 65%;
        background: white;
        height: 100%;

        // padding: 0 0 0 25%;
        .img-container {
            display: inline-block;
            width: 30%;
            position: relative;
            height: 100%;
            // float: left;

            .user-img {
                position: absolute;
                // top: 56px;
                top: 130px;
                left: -240px;
                width: 500px;
                // height: calc(100% - 112px);
                height: 600px;
                background: url("https://i.imgur.com/EljtZZ9.jpg") no-repeat center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                -moz-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
            }
        }

        .profile-section {
            vertical-align: top;
            display: inline-block;
            padding: 20% 0 0 0;
            max-width: 500px;
            .profile {
                h1 {
                    text-transform: uppercase;
                    font-size: 2.3rem;
                    font-weight: 600;
                    line-height: 1.2;
                    margin: 0 0 1rem;
                    span {
                        color: $color1;
                    }
                }
                h5 {
                    font-size: 1.1rem;
                    margin: 0 0 2rem;
                    font-weight: 500;
                }
                p {
                    color: $color4;
                    font-weight: 300;
                    line-height: 1.4;
                    margin: 0 0 2rem 0;
                }
            }
        }
    }
}

// Mobile
@media (max-width: 767px) {
    .home {
        .menu-icon {
            top: -3px;
            right: 20px;
            .fa-solid {
                color: #ffffff;
            }
        }
        .info-section {
            padding: 10px 20px;
            position: static;
            .logo {
                height: 50px;
                width: 70px;
                font-size: 1rem;
            }
            .info-box {
                // display: none;
            }
        }
        .content-area {
            margin-left: 0;
            width: 100%;
            // height: auto;
            height: 60vh;
            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .img-container {
                padding: 56px 20px 0;
                .user-img {
                    position: static;
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;

                .primary-btn, .ghost-btn {
                    margin-bottom: 20px;
                    min-width: 165px;
                }
            }
        }
    }
}


// Tablet
@media (min-width: 768px) and (max-width: 991px) {
    .home {
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                display: block;
                width:90%;
                height: auto;
                top: 50px;
                margin: auto;

                .user-img {
                    position: static;
                    width: 100%;
                    -webkit-box-shadow: 3px 3px 74px 1px rgba(0,0,0,0.34);
                    -moz-box-shadow: 3px 3px 74px 1px rgba(0,0,0,0.34);
                    box-shadow: 3px 3px 74px 1px rgba(0,0,0,0.34);
                }
            }
            .profile-section {
                width: 90%;
                float: right;
                padding: 15% 10px 0;
            }
        }
        .info-section {
            padding: 25px;
        }
    }
}

// Laptop
@media (min-width: 992px) and (max-width: 1199px) {
    .home {
        .content-area {
            margin-left: 32%;
            width:68%;
            .img-container {
                padding: 56px 20px 0;
                float: left;

                .user-img {
                    position: static;
                    width: 100%;
                }
            }

            .profile-section {
                width: 70%;
                float: left;
                padding: 20% 20px 0;
                max-width: 800px;

                .primary-btn, .ghost-btn {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// Extra Large
@media (min-width: 1200px) {

    .home {
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: left;

                .user-img {
                    // position: static;
                    // width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;
                // padding: 20% 20px 0;
            }
        }
    }
}